@font-face {
    font-family: 'Pacifico';
    src: url('../fontes/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontes/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

#principal{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0D1B2A;
}

#listaPedidos{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
    background-color: #2d3e5f;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat';
    margin-left: 10px;
    justify-content: center;
    color: white;
}

.item{
    display: flex;
    font-family: 'Montserrat';
    font-size: 20px;
    justify-content: space-between;
}

button{
    margin-top: auto;
    width: 100px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #0D1B2A;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    width: 150px;
    height: 30px;

    transition: background-color 0.3s ease, 
                color 0.3s ease, 
                box-shadow 0.3s ease;
}

button:hover,
button:focus {
    background-color: #FFD700; 
    color: #000; 
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.6); 
    outline: none;
}


button:active {
    background-color: #FFC300; 
    box-shadow: 0 2px 4px rgba(255, 195, 0, 0.8);
    transform: scale(0.97); 
    transition: transform 0.1s ease;
}
